<div class="ui centered grid">
  <div class="column">
    <div class="ui segment">
      <i class="users icon"></i> Users<div class="ui divided items">
        <% @user.each do |user| %>
          <div class="item">
            <div class="content">
              <div class="header">
                <%= link_to user.username, e_path, class: "ui teal header" %> <!-- Use teal color for user link -->
              </div>
              <div class="description">
                <% if current_user != user %>
                  <% if @following_users.include?(user) %>
                    <%= button_to 'Unfollow', unfollow_path(user), class: "ui inverted red button" %> <!-- Use red button color for Unfollow -->
                  <% else %>
                    <%= button_to 'Follow', follow_path(user), method: :post, class: "ui inverted green button" %> <!-- Use green button color for Follow -->
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
