<div class="ui centered card">
      <div class="content">
        <div class="header">Users</div>
        <% @user.each do |m|%>
      </div>

  <div class="center aligned content">
    <div class="ui small feed">
      <div class="event">
        <div class="content">
          <div class="summary">
            <%= m.username %>
          </div>
        </div>

      </div>
    <% end %>
    </div>

</div>

</div>
